.numberList {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;

  .item {
    width: 56px;
    height: 56px;
    background: grey;
    border-radius: 8px;
  }
  .numberItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 24px;
    background: grey;
    transition: transform 0.2s ease-in-out;
  }
  .selected {
    border: 1px solid var(--primary);
    transform: translateY(-4px);
  }
  .firstSelected {
    color: var(--primary-contrast);
  }
  .secondSelected {
    color: var(--secondary-contrast);
  }
}
